{% extends "base.html" %}

{% block head %}
<title>Home Page</title>
{% endblock head%}

{% block body %}
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt enim, est laudantium corporis, dolorem
                minus adipisci hic, voluptatum officia distinctio eum consectetur nesciunt ullam accusantium modi
                deleniti omnis voluptatibus <facilis class="lor"></facilis>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus molestiae explicabo iusto obcaecati
                excepturi eaque doloribus ullam sapiente pariatur dolorem debitis voluptatum delectus quidem, molestias
                tempore ipsa. Natus, fuga sit.</p>
            <p>
            </p>
        </div>
    </div>
</main>

{% endblock body %}