{% extends "base.html" %}

{% block head %}
<title>Home Page</title>
{% endblock head%}

{% block body %}
<div class="container text-center justyfy-center">

    <div class="starter-template">
        <h1>My Blog</h1>
        <p class="lead">Prosty Persolany blog</p>
    </div>

    <div class="row text-center">
        <div class="col-sm column">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, officia. Totam magnam iusto, ea
            inventore molestias numquam, debitis nostrum possimus repellendus corporis et ipsa recusandae unde culpa,
            esse pariatur tempore.
        </div>
        <div class="col-sm column">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum placeat sapiente recusandae quibusdam a qui
            accusamus saepe, quisquam magni officiis? Assumenda, quod architecto! Vitae minus incidunt sed velit quidem
            laboriosam?
        </div>
        <div class="col-sm column">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequatur. Commodi sequi nobis, fugiat
            quis aliquam esse sapiente eligendi nihil possimus explicabo excepturi delectus magnam iure. Eos ea est
            incidunt!
        </div>
    </div>
</div>
{% endblock body %}