{% extends "base.html" %}

{% block head %}
<title>New Post</title>
{% endblock head%}

{% block body %}
<div class="container">
    <div class="post">
        <header>
            <h1>{{posts.title}}</h1>
            <p> Written by: {{posts.author}} on
                {{posts.date_posted.strftime('%d-%m-%Y')}}</p>
            <img src="../../static/img/{{posts.image_file}}" alt="img">
        </header>
        <content>
            <p class="text-justify">{{posts.content}}</p>
        </content>

    </div>
    <div class="comments-container">
        <nav class="d-flex justify-content-between">
            <h5><i class="far fa-comments"></i> {{ comments_count }} Comments</h5>
            <form action='/post/more/{{posts.id}}' method="POST">
                <div class="input-group">
                    <select class="custom-select" name="comment_select" id="inputGroupSelect04">
                        <option hidden>Choose...</option>
                        <option value="1">Oldest</option>
                        <option value="2">Newest</option>
                    </select>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary" type="button">Button</button>
                    </div>
                </div>
            </form>
        </nav>
        {% for comment in comments %}
        {% if comment.post_id == posts.id %}
        <img src="../../static/img/awatar.jpg" style="height: 70px" class="mr-3 float-left">
        <div class="comment">
            <div class="media d-flex flex-column">
                {% for user in users %}
                {% if comment.author == user.id %}
                <div class="Author p-2 bd-highlight">
                    <h5 class="mt-0"> {{user.username}}</h5>
                </div>
                {% endif %}
                {% endfor %}
                <div class="content p-2 bd-highlight">
                    <p>{{comment.body}}</p>
                </div>
                <div class="media-body p-2 bd-highlight">
                    <div class="date">
                        <small>{{comment.time.strftime('%d-%m-%Y')}}</small>
                    </div>
                    <div class="comment-intera">
                    </div>
                </div>
            </div>
            {% if current_user.permissions == 'admin' %}
            <div class="delete">
                <a href="/post/more/deletecom/{{comment.id}}" class="btn btn-danger">Delete</a>
            </div>
            {%endif%}
        </div>
        {%endif%}
        {% endfor %}
        {% if current_user.is_authenticated %}
        <form action="/post/more/{{posts.id}}" method="POST">
            {{form.csrf_token}}
            <div class="form-group">
                {{comment.Comment.label}}
                {{comment.Comment(class="form-control")}}
            </div>
            {{comment.submit(class="btn btn-secondary")}}
        </form>
        {% else %}
        <div class="alert alert-primary" role="alert">
            You need to login to leave a comment!
        </div>
        {% endif %}

    </div>
</div>
{% endblock body %}