{% extends "base.html" %}

{% block head %}
<link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/sign-in/">
<title>Sign in</title>
{% endblock head%}

{% block body %}

<div class="d-flex justify-content-center align-items-center">
    <form class="form-signin" method="POST">
        {{ form.csrf_token }}
        <img class="mb-1" src="../static/img/register.png" alt="" width="72" height="72">
        <br>
        {{ form.username.label}}
        {{ form.username (class="form-control")}}
        {% for error in form.username.errors %}
        <small>{{ error(class="text-danger") }}</small>
        {% endfor %}

        {{ form.email.label }}
        {{ form.email (class="form-control")}}
        {% for error in form.email.errors %}
        <small>{{ error(class="text-danger") }}</small>
        {% endfor %}
        {{ form.password.label}}
        {{ form.password (class="form-control")}}

        {% for error in form.password.errors %}
        <small>{{ error(class="text-danger") }}</small>

        {% endfor %}
        {{ form.confirm_password.label}}
        {{ form.confirm_password (class="form-control")}}

        {% for error in form.confirm_password.errors %}
        <small>{{ error(class="text-danger") }}</small>

        {% endfor %}
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
</div>
{% endblock body %}

</html>