{% extends "admin_panel/panel.html" %}

{% block head %}
<title>New Post</title>
{% endblock head%}

{% block body %}
<div class="container">
    <table class="table table-hover">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
            {% for post in posts%}
            <tr>
                <td><a href="../../../post/more/{{post.id}}">{{post.title}}</a> </td>
                <td>{{post.author}}</td>
                <td>{{post.date_posted.strftime('%d-%m-%Y')}}</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock body %}