{% extends "admin_panel/panel.html" %}

{% block head %}
<title>Edit Post</title>
{% endblock head%}

{% block body %}
<div class="container">
    <br>
    <br>
    <form action="/posts/edit/{{post.id}}" method="POST" enctype="multipart/form-data">
        <label for="edit_title">
        </label>
        <div class="form-group">
            <label for="file">Thumbnail</label>
            <input type="file" class=" form-control-file" name="edit_file" id="file">
        </div>

        <label for="edit_title">
            <h5>Title:</h5>
        </label>
        <input type="edit_text" class="form-control" id="title" name="edit_title" aria-describedby="title"
            value="{{post.title}}">

        <br>
        <label for="edit_content">
            <h5>Content:</h4>
        </label>
        <textarea class="form-control" id="content" name="edit_content" rows="25">
            {{post.content}}
        </textarea><br>

        <label for="edit_author">
            <h5>Author:</h5>
        </label>
        <input type="text" class="form-control" id="title" name="edit_author" aria-describedby="title"
            value="{{post.author}}">

        <br>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>

{% endblock body %}