{% extends "admin_panel/panel.html" %}

{% block head %}
<title>New Post</title>
{% endblock head%}

{% block body %}
<div class="container">
    <br>
    <br>
    <form action="/new" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Thumbnail</label>
            <input type="file" class="form-control-file" name="file" id="file">
        </div>
        <label for="title">
            <h5>Title:</h5>
        </label>
        <input type="text" class="form-control" id="title" name="title" aria-describedby="title">

        <br>
        <label for="content">
            <h5>Content:</h4>
        </label>
        <textarea class="form-control" id="content" name="content" rows="3"></textarea>
        <br>

        <label for="title">
            <h5>Author:</h5>
        </label>
        <input type="text" class="form-control" id="title" name="author" aria-describedby="title">

        <br>
        <button type="submit" class="btn btn-primary">Add post</button>
    </form>
</div>

{% endblock body %}